// $main-color: #149911;
// $accent-color: #256D1B;
$main-color: #149911;
$accent-color: #256D1B;
$accent-color-hover: #FE654F;
$kinda-black: #1A181B;
$little-font: 1rem;
$middle-font: 1.25rem;
$large-font: 2.25rem;